* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.btn-container {
    /* display: flex; */
    /* flex-direction: row; */

}

button {
    background-color: blue;
    border-radius: 1rem;
    font-size: large;
    color: whitesmoke;
    cursor: pointer;
    padding: .5rem;
    margin: 1rem;
}

.input-type {
    margin-top: 4rem;
    flex-direction: row;
}